## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/[Pp]ackages/*
*.nupkg
.nuget/

## IDE
.idea/
*.swp
*~
.vscode/

## OS
.DS_Store
Thumbs.db

## Test results
TestResults/
coverage/
